body {
    background: #000;
}

input[type="text"] {
    background-color: #222222;
    border: solid 1px #555555;
}

input[type="text"]:focus {
    background: #333;
    color: #aaaaaa;
}

label {
    color: #ffffff;
}

.footer {
    background: #222222;
    color: #666666;
}

.badge {
    background: #333333;
}

.me {
    color: #777777;
}

.badge-light[href]:focus,
.badge-light[href]:hover {
    background: #666666;
}

.todo,
.done {
    box-shadow: 0 1px 5px #575757;
}

.row-padding {
    border-bottom: solid .5px #424242;
}

s {
    color: #666666;
}