html {
    max-width: 900px;
    margin: auto;
}

html,
body {
    height: 100%;
}

#app {
    position: relative;
    min-height: 100%;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.row {
    padding: .5em;
}

h1 {
    font-size: 5em;
    text-align: center;
    color: #42b983;
}

.transparent {
    background: transparent;
}

.close-i {
    width: 1.7em;
    height: 1.7em;
    float: right;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg t='1539600938016' class='icon' style='' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='4746' xmlns:xlink='http://www.w3.org/1999/xlink' width='64' height='64'%3E%3Cdefs%3E%3Cstyle type='text/css'%3E%3C/style%3E%3C/defs%3E%3Cpath d='M512 512m-512 0a512 512 0 1 0 1024 0 512 512 0 1 0-1024 0Z' fill='%23D1D1D1' p-id='4747'%3E%3C/path%3E%3Cpath d='M602.0096 512.11264L722.91328 633.0368c20.2752 20.2752 20.2752 52.13184 0 72.3968s-52.13184 20.2752-72.40704 0L529.59232 584.52992 408.6784 705.44384c-20.2752 20.2752-52.14208 20.2752-72.41728 0s-20.2752-52.13184 0-72.40704l120.9344-120.92416-120.9344-120.92416c-20.2752-20.2752-20.2752-52.1216 0-72.3968s52.14208-20.2752 72.41728 0L529.59232 439.7056l120.19712-120.19712c20.2752-20.2752 52.13184-20.2752 72.40704 0s20.2752 52.13184 0 72.40704L602.0096 512.11264z' fill='%23FFFFFF' p-id='4748'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.record-item {
    margin: auto;
    border-bottom: solid .5px #eee;
}

.pointer,
.pointer>*:hover {
    cursor: pointer;
}

s {
    color: #999999;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label {
    word-break: break-all;
}

.todo,
.done {
    box-sizing: border-box;
    padding: 0 15px;
    margin: 10px;
    box-shadow: 0 1px 5px #cfcfcf;
}

.done {
    margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    font-family: Consolas, Monaco, "Input Mono", "PT Mono", Menlo, monospace;
}