<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#42b983" id="theme-color">
    <base href="/">
    <link rel="shortcut icon" href="todo/asset/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="todo/asset/favicon.ico" type="image/vnd.microsoft.icon" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="todo/css/bootstrap.min.uncss.css">
    <link rel="stylesheet" href="todo/css/todolist.css">
    <link rel="stylesheet" href="" id="theme-css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Todo list</title>
</head>

<body>
    <div class="wrapper">
        <div id="app" class="container-fluid">
            <div class="title">
                <h1 class="no-select pt-3">Todo
                    <img class="pointer theme-switcher" :src="currentTheme == 0 ? 'todo/asset/moon.png' : 'todo/asset/sun.png'"
                        @error="imageLoadFail=true" @load="imageLoadFail=false" :class="imageLoadFail?'text':''" alt="主题"
                        @click="switchTheme"></h1>
            </div>
            <div class="row">
                <div class="col-md-8 mb-2">
                    <input ref="input" class="form-control" type="text" v-model="message" @keyup.enter.exact="submit"
                        @keydown.ctrl="pressingCtrl=true" @keyup.17="pressingCtrl=false" placeholder="按下 Ctrl 并回车进行搜索"
                        autofocus="autofocus" @keyup.enter.ctrl.exact="search">
                </div>
                <div class="col-md-4 mb-2">
                    <button class="btn btn-info btn-block submit-btn" @click.exact="submit" @click.ctrl.exact="search"
                        tabindex="-1">
                        {{pressingCtrl?'搜索' : '添加'}}</button>
                </div>
            </div>
            <h3 class="text-muted no-select mt-2">进行中</h3>
            <div class="todo">
                <transition-group name="move-todo" class="move-group">
                    <div v-for="(item, index) in todo" class="record-item" :key="item.uid">
                        <div class="row row-padding">
                            <div class="custom-control custom-checkbox col-md-11 col-11 pointer" @click="todoDone(index)">
                                <input type="checkbox" class="custom-control-input" :checked="false" tabindex="-1">
                                <label class="custom-control-label text-justify pl-3">{{item.text}}</label>
                            </div>
                            <div class="col-md-1 col-1 close-div"> <button @click="delTodo(index)" class="btn close-i"
                                    onclick="this.blur();" tabindex="-1"></button></div>
                        </div>
                    </div>
                </transition-group>
            </div>
            <h3 v-bind:class="todo.length == 0 ? 'mt-2' : 'mt-4'" class="text-muted no-select">已完成</h3>
            <div class="done">
                <transition-group name="move-done" class="move-group">
                    <div v-for="(item, index) in done" class="record-item" :key="item.uid">
                        <div class="row row-padding">
                            <div class="custom-control custom-checkbox col-md-11 col-11 pointer" @click="doneTodo(index)">
                                <input type="checkbox" class="custom-control-input" :checked="true" tabindex="-1">
                                <label class="custom-control-label text-justify pl-3"><s>{{item.text}}</s></label>
                            </div>
                            <div class="col-md-1 col-1 close-div"> <button @click="delDone(index)" class="btn close-i"
                                    onclick="this.blur();" tabindex="-1"></button></div>
                        </div>
                    </div>
                </transition-group>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="footer-copyright text-center">Copyright © 2018
                    <a href="http://blog.letow.top" target="_newtab" ref="noopener" class="badge badge-light me" style="font-size: 100%"
                        tabindex="-1">leto</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="todo/js/todolist.js"></script>
</body>

</html>